configuration {
    modi:                       "drun";
    show-icons:                 true;
    icon-theme:			"Papirus-Dark";
    display-drun:               "";
    drun-display-format:        "{name}";
    font:                       "JetBrainsMono Nerd Font 12";
}

@theme "~/.config/rofi/theme.rasi"
