* {
    /* Define colors */
    bg:      #000000;
    fg:      #ffffff;
    accent:  #333333;
    
    /* Global transparency default */
    background-color: transparent;
    text-color:       @fg;
}

window {
    width:            600px;
    border-radius:    12px;
    border:           2px;
    border-color:     #ffffff;
    background-color: @bg;
    padding:          20px;
}

mainbox {
    children: [ "inputbar", "listview" ];
}

inputbar {
    spacing:    0px;
    padding:    10px;
    children:   [ "entry" ];
}

prompt {
    enabled:    false;
}

entry {
    placeholder:       "Search...";
    placeholder-color: #666666;
    margin:            0px;
    padding:           0px;
}

listview {
    lines:        6;
    fixed-height: true;
    dynamic:      false;
    scrollbar:    false;
    layout:       vertical;
}

element {
    padding:       8px;
    border-radius: 10px;
}

element selected {
    background-color: @accent;
    text-color:       @fg;
}

element-icon {
    size:    24px;
    padding: 0 10px 0 0;
}

element-text {
    background-color: transparent;
    text-color:       inherit;
    vertical-align:   0.5;
    markup:           false;
    highlight:        none;
}
